# redirect rules to prevent old links from breaking
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^/?docs/0.6-incubating/(.*) https://nightlies.apache.org/flink/flink-docs-release-0.6/$1  [R=301,L,NE]
RewriteRule ^/?docs/0.7-incubating/(.*) https://nightlies.apache.org/flink/flink-docs-release-0.7/$1  [R=301,L,NE]
RewriteRule ^/?docs/0.8/(.*) https://nightlies.apache.org/flink/flink-docs-release-0.8/$1  [R=301,L,NE]
RewriteRule ^/?docs/latest(/.*)? https://nightlies.apache.org/flink/flink-docs-master$1  [R=301,L,NE]
RewriteRule ^/?docs/stable(/.*)? https://nightlies.apache.org/flink/flink-docs-release-0.8$1  [R=301,L,NE]
RewriteRule ^/?docs/(.*) https://nightlies.apache.org/flink/flink-docs-master/$1  [R=301,L,NE]
