# redirect rules to prevent old links from breaking

RedirectMatch 301 /docs/0.6-incubating/(.*) http://ci.apache.org/projects/flink/flink-docs-release-0.6/$1 
RedirectMatch 301 /docs/0.7-incubating/(.*) http://ci.apache.org/projects/flink/flink-docs-release-0.7/$1
RedirectMatch 301 /docs/0.8/(.*) http://ci.apache.org/projects/flink/flink-docs-release-0.8/$1
RedirectMatch 301 /docs/latest/(.*) http://ci.apache.org/projects/flink/flink-docs-master/$1
RedirectMatch 301 /docs/(.*) http://ci.apache.org/projects/flink/flink-docs-master/$1 

