# redirect rules to prevent old links from breaking
RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteRule ^/?docs/0.6-incubating/(.*) https://nightlies.apache.org/flink/flink-docs-release-0.6/$1  [R=301,L,NE]
RewriteRule ^/?docs/0.7-incubating/(.*) https://nightlies.apache.org/flink/flink-docs-release-0.7/$1  [R=301,L,NE]
RewriteRule ^/?docs/0.8/(.*) https://nightlies.apache.org/flink/flink-docs-release-0.8/$1  [R=301,L,NE]
RewriteRule ^/?docs/latest(/.*)? https://nightlies.apache.org/flink/flink-docs-master$1  [R=301,L,NE]
RewriteRule ^/?docs/stable(/.*)? https://nightlies.apache.org/flink/flink-docs-release-0.8$1  [R=301,L,NE]
RewriteRule ^/?docs/(.*) https://nightlies.apache.org/flink/flink-docs-master/$1  [R=301,L,NE]

# English URLs
RewriteRule ^flink\-architecture\.html$ /what-is-flink/flink-architecture/ [R=301,L]
RewriteRule ^flink-applications\.html$ /what-is-flink/flink-applications/ [R=301,L]
RewriteRule ^flink-operations\.html$ /what-is-flink/flink-operations/ [R=301,L]
RewriteRule ^usecases\.html$ /use-cases/ [R=301,L]
RewriteRule ^poweredby\.html$ /powered-by/ [R=301,L]
RewriteRule ^downloads\.html$ /downloads/ [R=301,L]
RewriteRule ^gettinghelp\.html$ /getting-help/ [R=301,L]
RewriteRule ^blog/$ /posts/ [R=301,L]
RewriteRule ^community\.html$ /community/ [R=301,L]
RewriteRule ^roadmap\.html$ /roadmap/ [R=301,L]
RewriteRule ^contributing/how-to-contribute\.html$ /contribute/how-to-contribute/ [R=301,L]
RewriteRule ^contributing/contribute-code\.html$ /contribute/contribute-code/ [R=301,L]
RewriteRule ^contributing/reviewing-prs\.html$ /contribute/reviewing-prs/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-preamble\.html$ /contribute/code-style-and-quality/preamble/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-pull-requests\.html$ /contribute/code-style-and-quality/pull-requests/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-common\.html$ /contribute/code-style-and-quality/common/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-java\.html$ /contribute/code-style-and-quality/java/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-scala\.html$ /contribute/code-style-and-quality/scala/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-components\.html$ /contribute/code-style-and-quality/components/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-formatting\.html$ /contribute/code-style-and-quality/formatting/ [R=301,L]
RewriteRule ^contributing/code-style-and-quality-formatting\.html$ /how-to-contribute/code-style-and-quality-formatting/ [R=301,L]
RewriteRule ^contributing/contribute-documentation\.html$ /how-to-contribute/contribute-documentation/ [R=301,L]
RewriteRule ^contributing-style\.html$ /how-to-contribute/documentation-style-guide/ [R=301,L]
RewriteRule ^contributing/improve-website\.html$ /how-to-contribute/improve-website/ [R=301,L]
RewriteRule ^security\.html$ /security/ [R=301,L]

# Chinese URLs
RewriteRule ^zh/flink-architecture\.html$ /zh/what-is-flink/flink-architecture/ [R=301,L]
RewriteRule ^zh/flink-applications\.html$ /zh/what-is-flink/flink-applications/ [R=301,L]
RewriteRule ^zh/flink-operations\.html$ /zh/what-is-flink/flink-operations/ [R=301,L]
RewriteRule ^zh/usecases\.html$ /zh/use-cases/ [R=301,L]
RewriteRule ^zh/poweredby\.html$ /zh/powered-by/ [R=301,L]
RewriteRule ^zh/downloads\.html$ /zh/downloads/ [R=301,L]
RewriteRule ^zh/gettinghelp\.html$ /zh/getting-help/ [R=301,L]
RewriteRule ^zh/blog/$ /zh/posts/ [R=301,L]
RewriteRule ^zh/community\.html$ /zh/community/ [R=301,L]
RewriteRule ^zh/roadmap\.html$ /zh/roadmap/ [R=301,L]
RewriteRule ^zh/contributing/how-to-contribute\.html$ /zh/how-to-contribute/overview/ [R=301,L]
RewriteRule ^zh/contributing/contribute-code\.html$ /zh/how-to-contribute/contribute-code/ [R=301,L]
RewriteRule ^zh/contributing/reviewing-prs\.html$ /zh/how-to-contribute/reviewing-prs/ [R=301,L]
RewriteRule ^zh/contributing/code-style-and-quality-preamble\.html$ /zh/how-to-contribute/code-style-and-quality-preamble/ [R=301,L]
RewriteRule ^zh/contributing/code-style-and-quality-pull-requests\.html$ /zh/how-to-contribute/code-style-and-quality-pull-requ
