<ul>
	<li class="fa-sidebar-item{% if page.url contains 'faq.html' %} active{% endif %}">
	   <a href="faq.html">FAQ</a>
    </li>
	<li><span class="af-label">Quickstart</span>
		<ul>
			<li class="fa-sidebar-item{% if page.url contains 'setup_quickstart.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/setup_quickstart.html">Setup</a>
		    </li>
			<li class="fa-sidebar-item{% if page.url contains 'run_example_quickstart.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/run_example_quickstart.html">Run Example</a>
			</li>
			<li class="fa-sidebar-item{% if page.url contains 'java_api_quickstart.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/java_api_quickstart.html">Java API</a>
			</li>
			<li class="fa-sidebar-item{% if page.url contains 'scala_api_quickstart.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/scala_api_quickstart.html">Scala API</a>
		    </li>
		</ul>
	</li>

	<li><span class="af-label">Setup &amp; Configuration</span>
		<ul>
			<li class="fa-sidebar-item{% if page.url contains '/local_setup.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/local_setup.html">Local Setup</a>
		    </li>
			<li class="fa-sidebar-item{% if page.url contains 'building.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/building.html">Build Flink</a>
			</li>
			<li class="fa-sidebar-item{% if page.url contains 'cluster_setup.htm' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/cluster_setup.html">Cluster Setup</a>
			</li>
			<li class="fa-sidebar-item{% if page.url contains 'yarn_setup.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/yarn_setup.html">YARN Setup</a>
		    </li>
			<li class="fa-sidebar-item{% if page.url contains 'config.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/config.html">Configuration</a>
		    </li>
		</ul>
	</li>

	<li><span class="af-label">Programming Guides</span>
		<ul>
			<li class="fa-sidebar-item{% if page.url contains 'programming_guide.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/programming_guide.html">Programming Guide</a>
		    </li>
			<li class="fa-sidebar-item{% if page.url contains 'dataset_transformations.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/dataset_transformations.html">DataSet Transformations</a>
		    </li>
			<li class="fa-sidebar-item{% if page.url contains 'java8_programming_guide.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/java8_programming_guide.html">Java 8 Programming Guide</a>
		     </li>
			<li class="fa-sidebar-item{% if page.url contains 'streaming_guide.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/streaming_guide.html">Streaming Guide</a>
	        </li>
			<li class="fa-sidebar-item{% if page.url contains 'iterations.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/iterations.html">Iterations</a>
	        </li>
			<li class="fa-sidebar-item{% if page.url contains 'spargel_guide.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/spargel_guide.html">Spargel Graph API</a>
			</li>
			<li class="fa-sidebar-item{% if page.url contains 'hadoop_compatibility.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/hadoop_compatibility.html">Hadoop Compatibility</a>
			</li>
		</ul>
	</li>

	<li><span class="af-label">Examples</span>
		<ul>
			<li class="fa-sidebar-item{% if page.url contains 'examples.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/examples.html">Bundled Examples</a>
		    </li>
			<li class="fa-sidebar-item{% if page.url contains 'example_connectors.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/example_connectors.html">Connecting to other systems</a>
	       </li>
		</ul>
	</li>

	<li><span class="af-label">Execution</span>
		<ul>
			<li class="fa-sidebar-item{% if page.url contains 'local_execution.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/local_execution.html">Local/Debugging</a>
			</li>
			<li class="fa-sidebar-item{% if page.url contains 'cluster_execution.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/cluster_execution.html">Cluster</a>
	        </li>
			<li class="fa-sidebar-item{% if page.url contains 'cli.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/cli.html">Command-Line Interface</a>
	        </li>
			<li class="fa-sidebar-item{% if page.url contains 'web_client.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/web_client.html">Web Interface</a>
		    </li>
		</ul>
	</li>

	<li><span class="af-label">Internals</span>
		<ul>
			<li class="fa-sidebar-item{% if page.url contains 'internal_overview.html' %} active{% endif %}">
			     <a href="{{ site.baseurl }}/internal_overview.html">Overview</a>
	       </li>
		</ul>
	</li>
</ul>
