// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
// 
//   http://www.apache.org/licenses/LICENSE-2.0
// 
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

:root {
    @include theme-light;
    @import "code-light";
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme-dark;
        @import "code-dark";
    }
}

@import "navbar";
@import "hero";
@import "footer";
@import "panels";
@import "footer";
@import "toc";
@import "pagination";

body {
    font-size: 0.9rem;
}

.markdown {
    h1 {
        font-size: 2.5rem;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        margin: 0;
    }

    h2 {
        border-top: 1px solid var(--border-color);
        font-size: 2rem;
        font-weight: 700;
        margin-top: 1em;
        padding-top: 1em;
        padding-bottom: 0.5em;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    h4 {
        font-size: 1.25rem;
        font-weight: 700;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

a {
    color: var(--color-link);

    &:visited {
        color: var(--color-visited-link);
    }

    &:hover {
        color: var(--color-hover-link);
        text-decoration: underline;

        &:visited {
            color: var(--color-hover-visited-link);
        }
    }

    i {
        margin-left: 5px;
    }
}

hr {
    border-color: var(--gray-500);
}

.separator {
    border: 1px solid var(--body-background-alt);
}

.truncate {
    overflow: hidden;
    max-width: 75ch;
    text-overflow: ellipsis;
}

.markdown {

    pre {
        background-color: var(--code-inline-block-background-color);
        color: var(--code-inline-block-text-color);
    }

    code {
        background-color: var(--code-inline-block-background-color);
        color: var(--code-inline-block-text-color);
    }

    p {
        margin-top: 14px;
        margin-bottom: 14px;
    }

    table.table thead tr {
        background: var(--table-header-background-color);
        color: var(--table-header-text-color);
        font-weight: 700;
    }

    table.table tbody tr {
        background: inherit;
        color: var(--body-font-color);
    }
}

table#powered-by-flink tr td img {
    display: block;
    background-color: var(--powered-by-flink-background-colour);
    margin: auto;
    text-align: center;
    max-height: 20em;
}
