// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.


footer {
    text-align: center;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
    background-color: var(--footer-background-color);

    a {
        color: var(--footer-link-color);

        &:visited {
            color: var(--footer-link-visited-color);
        }

        &:hover {
            color: var(--footer-link-hover-color);

            &:visited {
                color: var(--footer-link-visited-hover-color);
            }
        }
    }

    .disclaimer {
        margin-top: 36px;
        font-weight: 400;
        padding-bottom: 0;
        margin-bottom: 0;
        max-width: 1200px;
    }

    p {
        text-align: center;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .panels .wrapper {
        @media (max-width: 1600px) {
            gap: 40px;
        }

        .panel.icons {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 40px;

            div {
                display: flex;
                flex-direction: column;
                margin: auto;

                .icon {
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    width: 2.5rem;
                    height: 4rem;
                    padding: 0;
                    margin: auto;

                    &.flink-github-icon {
                        background-image: url("/img/flink-github-icon-light.svg");

                        @media(prefers-color-scheme: dark) {
                            background-image: url("/img/flink-github-icon-dark.svg");
                        }
                    }

                    &.flink-twitter-icon {
                        background-image: url("/img/flink-twitter-icon-light.svg");

                        @media(prefers-color-scheme: dark) {
                            background-image: url("/img/flink-twitter-icon-dark.svg");
                        }
                    }

                    &.flink-blog-icon {
                        background-image: url("/img/flink-blog-icon-light.svg");

                        @media(prefers-color-scheme: dark) {
                            background-image: url("/img/flink-blog-icon-dark.svg");
                        }
                    }
                }

                img {
                    display: block;
                }
            }
        }
    }
}

.edit-this-page {
    border-top: 1px solid var(--toc-border-color);
    padding-top: 2em;
    margin-top: 4em;
}
