// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.


.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
    padding-top: 3em;
    margin-bottom: 1em;
    height: 40em;
    color: var(--hero-font-color);

    .logo {
        height: 500px;
        display: flex;
        justify-content: center;

        img {
            margin: auto;
            display: block;
        }
    }

    .title {
        max-width: 700px;
        font-style: normal;
        line-height: normal;

        h1 {
            font-size: 5rem;
            font-weight: 700;
            letter-spacing: -1px;
        }

        h2 {
            font-size: 2.2rem;
            font-weight: 700;
            letter-spacing: -1px;
            border: none;
        }

        p {
            font-size: 1.5rem;
            font-weight: 400;
        }
    }

    @media (max-width: 1600px) {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        margin-bottom: 10px;
        gap: 75px;

        .logo {
            img {
                width: 80%;
            }
        }
    }

    @media (max-width: 1360px) {
        padding-top: 0;

        .logo {
            display: none;
        }

        .title {
            text-align: center;
        }
    }

    @media (max-width: 600px) {
        .title {
            h1 {
                font-size: 4rem;
                font-weight: 700;
                letter-spacing: -1px;
            }

            h2 {
                font-size: 2.2rem;
                font-weight: 700;
                letter-spacing: -1px;
                border: none;
            }

            p {
                font-size: 1.5rem;
                font-weight: 400;
             }
        }
    }

    @media (max-width: 500px) {
        .title {
            h1 {
                font-size: 3.6rem;
                font-weight: 700;
                letter-spacing: -1px;
            }

            h2 {
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: -1px;
                border: none;
            }

            p {
                font-size: 1.4rem;
                font-weight: 400;
            }
        }
    }

    @media (max-width: 400px) {
        .title {
            h1 {
                font-size: 3rem;
                font-weight: 700;
                letter-spacing: -1px;
            }

            h2 {
                font-size: 1.5rem;
                font-weight: 700;
                letter-spacing: -1px;
                border: none;
            }

            p {
                font-size: 1.2rem;
                font-weight: 400;
            }
        }
    }
}

.waves {
    position: absolute;
    z-index: -1;
    top: 72px;
    left: 0;
    width: 100%;
    height: 40em;
    overflow: hidden;

    img {
        width: 100%;
        height: 40em;

        @media (max-width: 1360px) {
            content: url("/img/flink-sine-wave-narrow.svg");
        }
    }
}
